
# Verification Status

Payment method status. Possible values:

* **valid**
* **pending**
* **invalid**
* **rejected**

## Enumeration

`VerificationStatus`

## Fields

| Name |
|  --- |
| `Valid` |
| `Pending` |
| `Invalid` |
| `Rejected` |

